<a href="https://colab.research.google.com/github/kay-kay-t/CodingDojo/blob/main/03_Average_height.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# Imports
import pandas as pd
filename = '/content/athleteEventsNoPersonal.csv'

In [4]:
# Load data where ad = athletes data
ad = pd.read_csv(filename)
ad.head()

   ID   Age  Height  ...          Sport                               Event Medal
0   5  21.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
1   5  21.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
2   5  25.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
3   5  25.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
4   5  27.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN

[5 rows x 12 columns]

1.a. How many rows
  b. How many columns

In [5]:
ad.shape

(40616, 12)

  1. c. Which columns have missing values? (Why do think there are there so many null values in the Medals column?)

In [6]:
# As we can see below, there's missing values in columns Age, Height and Medal. 
# Medal column has NaN values, because the athlet didn't get any medals in particular event
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     39143 non-null  float64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.7+ MB

1.d. How many entries correspond to the city of London?

In [7]:
# Per code below 3370 entries correspond to the city of London
London = ad.loc[ad['City'] == 'London', :]
London.shape

(3370, 12)

In [8]:
# Data frame below showing some of them
London

           ID   Age  ...                                         Event   Medal
36         54   NaN  ...                      Boxing Men's Heavyweight     NaN
42         67  26.0  ...               Athletics Women's Javelin Throw     NaN
66        155  34.0  ...      Wrestling Men's Heavyweight, Greco-Roman     NaN
69        159  19.0  ...            Synchronized Swimming Women's Team     NaN
72        185  31.0  ...                Fencing Men's Foil, Individual     NaN
...       ...   ...  ...                                           ...     ...
40577  135489  22.0  ...        Swimming Women's 200 metres Backstroke  Silver
40578  135489  22.0  ...  Swimming Women's 4 x 100 metres Medley Relay     NaN
40590  135517  22.0  ...          Swimming Men's 100 metres Backstroke     NaN
40595  135528  28.0  ...                       Badminton Men's Singles     NaN
40609  135558  32.0  ...                   Volleyball Men's Volleyball     NaN

[3370 rows x 12 columns]

 1.e. What age is the youngest athlete in our sample data?  Hint: use min()

In [9]:
ad['Age'].min()

11.0

2.a. How many athletes who participated in the Sport "Tug-Of-War" were from Team "Sweden" in our sample dataset?

In [10]:
# Creating filter to match columns "Sport" and "Team" together
sport = ad['Sport'] == 'Tug-Of-War'
team = ad['Team'] == 'Sweden'
ToW_Sweden = ad[sport & team]
len(ToW_Sweden)

6

 2.b. How many Gold medals were awarded to athletes who were over 40 years old?

In [11]:
 medal = ad['Medal'] == 'Gold'
 age = ad['Age'] > 40
 gold_40 = ad[medal & age] 
 len(gold_40)

66

3. Determine the average height of:
a. All rows included.

In [12]:
round(ad['Height'].mean(), 1)

175.4

3. Determine the average height of:
b. All rows included, but grouped by Event.

In [13]:
round(ad.groupby(['Event'])[['Height']].mean())

                                                Height
Event
Alpine Skiing Men's Combined                     179.0
Alpine Skiing Men's Downhill                     178.0
Alpine Skiing Men's Giant Slalom                 177.0
Alpine Skiing Men's Slalom                       176.0
Alpine Skiing Men's Super G                      180.0
...                                                ...
Wrestling Women's Flyweight, Freestyle           158.0
Wrestling Women's Heavyweight, Freestyle         173.0
Wrestling Women's Light-Heavyweight, Freestyle   170.0
Wrestling Women's Lightweight, Freestyle         163.0
Wrestling Women's Middleweight, Freestyle        165.0

[726 rows x 1 columns]

 3. Determine the average height of: c. Bonus: average height of all  the athletes, but don't want to include any athlete more than once

In [14]:
 ad['ID'].value_counts()

119591    36
44875     32
76437     31
133279    30
21462     29
          ..
37600      1
131794     1
72401      1
115402     1
6147       1
Name: ID, Length: 20336, dtype: int64

In [15]:
one_per_athlete = ad.drop_duplicates(subset = 'ID', keep = 'first')
round(one_per_athlete['Height'].mean(), 1)

176.3